{#!!!!!!!!LOGIN PAGE!!!!#}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h2>Log in</h2>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input id="username" type="text" name="username">

    <label for="password">Password:</label>
    <input id="password" type="password" name="password">

    <button type="submit">Log in</button>
</form>

{% if invalid_credentials %}
    <p>Invalid username or password.</p>
{% endif %}
</body>
</html>