body{
    background-color: rgb(220, 220, 220);
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

h2{
    color: #e41a13;
}

li{
    font-size: 17px;
    margin-top: 30px;
}

a{
    all:unset;
    cursor: pointer;
    color: blue;
}


.choose{
    width: 90px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
