{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/list_pages.css' %}">
</head>
<body>
{% include 'includes/header.html' %}

    <h1>List of Faculties</h1>
    <ul>
        {% for faculty in faculties %}
            <li><a href="/faculty/{{ faculty.id }}">{{ faculty.name }}</a> </li>
        {% endfor %}
    </ul>

    <div class="paginator-container">
        {% if faculties.has_previous %}
            <a class="paginator" href="?page={{ faculties.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="paginator-text">Page {{ faculties.number }} of {{ faculties.paginator.num_pages }}.</span>
        {% if faculties.has_next %}
            <a class="paginator" href="?page={{ faculties.next_page_number }}">Next</a>
        {% endif %}

    </div>

    {% if not user.is_authenticated %}
    <a href="{% url 'users:login' %}">
        <button class="login_button">
            Login
        </button>
    </a>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="user_panel">
        {% if user.first_name %}
            Welcome {{ user.first_name }} {{ user.last_name }}
        {% else %}
            Welcome {{ user.username }}
        {% endif %}
            <a href="{% url 'users:logout' %}">
                <button class="logout_button">
                    Logout
                </button>
            </a>
            <a href="{% url 'users:dashboard' %}">
                <button class="dashboard_button">
                    Dashboard
                </button>
            </a>
    </div>
    {% endif %}
{% block content %}



{% endblock %}
</body>
</html>