<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/list_pages.css' %}">
</head>
<body>
{% include 'includes/header.html' %}

    <h1>List of Subjects</h1>
    <ul>
        {% for subject in subjects %}
            <li><a href="/subject/{{ subject.id }}">{{ subject.title }}</a></li>
        {% endfor %}
    </ul>

    <div class="paginator-container">
        {% if subjects.has_previous %}
            <a class="paginator" href="?page={{ subjects.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="paginator-text">Page {{ subjects.number }} of {{ subjects.paginator.num_pages }}.</span>
        {% if subjects.has_next %}
            <a class="paginator" href="?page={{ subjects.next_page_number }}">Next</a>
        {% endif %}
    </div>
</body>
</html>