<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/detail_pages.css' %}">
</head>
<body>
{% include 'includes/header.html' %}
    <div class="student_info">
        {% if student %}
            <h2>
                {{student.name}} {{student.surname}}<br/>
            </h2>
            <h3>Faculty: {{ student.faculty}}<br/></h3>
            Subjects:
            <ul>
                {% if subjects %}
                    {% for subject in subjects %}
                        <li>{{ subject.title }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            Assignments:
            <ul>
                {% if assignments %}
                    {% for assignment in assignments %}
                        <li>
                            {{ assignment.subject }}: {{ assignment.description }} - Deadline {{ assignment.deadline_date }}, {{ assignment.deadline_time }}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        {% if lecturer %}
            <h2>
                {{ lecturer.name }} {{ lecturer.surname }}<br/>
            </h2>
            <h3>
                Your Assignments:<br/>
            </h3>
            <ul>
                {% for assignment in assignments %}
                    <li>
                        {{ assignment.description }} - Deadline: {{ assignment.deadline_date }}, {{ assignment.deadline_time }}
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'users:add_assignment' %}">Add Assignment</a>
        {% endif %}
    </div>
</body>