{#!!!!!!!!Register PAGE!!!!#}

{% extends 'mainapp/main_page.html' %}

{% block content %}
<h2 id="register">Register</h2>
    <form method="post" class="register">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="text" name="email">
        </div>
        <div class="form-group">
            <label for="password1">Password:</label>
            <input id="password1" type="password" name="password1">
        </div>
        <div class="form-group">
            <label for="password2">Repeat password:</label>
            <input id="password2" type="password" name="password2">
        </div>
        <p><button type="submit" id="login_button">Register</button></p>
    </form>

    {% if invalid_credentials %}
        <p>Invalid username or password.</p>
    {% endif %}
{% endblock %}
